<div class="app-container">
    <div *ngFor="let data of nodeData">
        <div *ngIf="data.child; else nonChildNode">
            <app-parent-node [parentNodeData]="data.name">
                <div *ngIf="data.child.length > 1; else childNode">
                    <div *ngFor="let item of data.child">
                        <div *ngIf="item.child?.length >= 1; else innerChild">
                            <app-parent-node [parentNodeData]="item.name">
                                <app-leaf-node [nodeData]="item.child"></app-leaf-node>
                            </app-parent-node>
                        </div>
                        <ng-template #innerChild>
                            <app-leaf-node [nodeData]="[item]"></app-leaf-node>
                        </ng-template>
                    </div>
                </div>
                <ng-template #childNode>
                    <app-leaf-node [nodeData]="data.child"></app-leaf-node>
                </ng-template>
            </app-parent-node>
        </div>
        <ng-template #nonChildNode>
            <div *ngIf="!data.parent;">
                <app-parent-node [parentNodeData]="data.name"></app-parent-node>
            </div>
        </ng-template>
    </div>
</div>