.leaf-node {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        margin: 0 20px 20px 0px;

        @media only screen and (min-width: 600px) {
            width: 300px;
        }

        @media only screen and (max-width: 599px) {
            width: 200px;
        }
    }

    &__title {
        background: lightgrey;
        min-height: 40px;
        display: flex;
        text-align: left;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 5px;
        flex-wrap: wrap;
    }

    &__sub-title {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}